# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
env311/
venv/
.venv/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# Streamlit secrets
.streamlit/secrets.toml

# ==============================
# MLflow
# ==============================
mlruns/
mlartifacts/

# ==============================
# Trained Models
# ==============================
*.pkl
*.joblib

# ==============================
# Temporary / Cache
# ==============================
*.log
*.tmp
*.temp

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Data
# ==============================
data/processed/